.contextMenu {
  background: #d9dbdd;
  font-size: 10pt;
}

.contextMenu .contextMenuContent {
  padding: 5px;
}

.contextMenu .title {
  font-size: 12pt;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.contextMenu .genres, .contextMenu .perspectives, .contextMenu .year, .contextMenu .sound {
  color: #11527d;
} 

.contextMenu .exeButton {
  width: 140px;
  margin-top: 5px;
}

.contextMenu .soundButton {
  width: 140px;
}

.contextMenu .soundButtons, .contextMenu .exeButtons, .contextMenu .play {
  margin-top: 10px;
}

.list-group-item-success.list-group-item-action.active {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.list-group-item-danger.list-group-item-action.active {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.list-group-item-primary.list-group-item-action.active {
  background-color: #007bff !important;
  border-color: #007bff !important;
}

.list-group-item-warning.list-group-item-action.active {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}

.list-group-item-info.list-group-item-action.active {
  background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}