.App {
  text-align: center;
}

.content {
	width: 100%;
	background-color: #fff;
	min-height:100% !important; /* browser fill */
  height: auto;                /*content fill */
  overflow: hidden;
}
