.jsdos {

    position: relative;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+36,28343b+100 */
    background: #b5bdc8; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    transition:All 500ms ease-out;
	-webkit-transition:All 500ms ease-out;
	-moz-transition:All 500ms ease-out;
	-o-transition:All 500ms ease-out;
}

.jsdos .dialogs {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.jsdos .jsdos-canvas {
    opacity: 0;
    transition:All 500ms ease-out;
	-webkit-transition:All 500ms ease-out;
	-moz-transition:All 500ms ease-out;
	-o-transition:All 500ms ease-out;
}

.jsdos canvas.x320x240 {
    width: 320px;
    height: 240px;
}
.jsdos canvas.x640x480 {
    width: 640px;
    height: 480px;
}
.jsdos canvas.x800x600 {
    width: 800px;
    height: 600px;
}
.jsdos canvas.x1024x768 {
    width: 1024px;
    height: 768px;
}
.jsdos canvas.x1280x1024 {
    width: 1024px;
    height: 768px;
}