.titleTile {
  
  display: inline-block;
  vertical-align:top;

  overflow-wrap: break-word;
  height: auto;
  width: 157.333px;

  background-color: #eee;
  cursor: pointer;
  
  margin-top: 10px;
}

.titleTile .image {
  height: 118px;
  background-repeat: no-repeat;
  background-size: 157.333px auto;

  transition:All 100ms ease-out;
  -webkit-transition:All 100ms ease-out;
  -moz-transition:All 100ms ease-out;
  -o-transition:All 100ms ease-out;
}

.titleTile .image:active {
  transform: scale(0.95);
}

.titleTile .caption {
  padding: 0px;
  font-size: 10pt;
}
