.titleTile {
  
  display: inline-block;
  vertical-align:top;

  overflow-wrap: break-word;
  height: auto;
  width: 157.333px;

  background-color: #eee;
  cursor: pointer;
  
  margin-top: 10px;
}

.titleTile .image {
  height: 118px;
  background-repeat: no-repeat;
  background-size: 157.333px 118px;

  transition:All 100ms ease-out;
  -webkit-transition:All 100ms ease-out;
  -moz-transition:All 100ms ease-out;
  -o-transition:All 100ms ease-out;
}

.titleTile .image:active {
  transform: scale(0.95);
}

.titleTile .caption {
  padding: 0px;
  font-size: 10pt;
}

.contextMenu {
  background: #d9dbdd;
}

.contextMenu .contextMenuContent {
  padding: 5px;
}

.contextMenu .title {
  font-size: 12pt;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.contextMenu .year {
  font-size: 10pt;
}

.contextMenu .genre {
  font-size: 10pt;
}

.contextMenu .perspective {
  font-size: 10pt;
}

.contextMenu .sound {
  font-size: 10pt;
}

.contextMenu .soundButton {
  width: 140px;
  margin-top: 5px;
}

.contextMenu .soundButtons {
  padding-top: 5px;
}