html {
	margin: 0;
	padding: 0;
	height:100%;
}
  
body {
  margin: 0;
	padding: 0;
  height:100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+74,828c95+74 */
  background: #b5bdc8; /* Old browsers */
  background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 74%, #828c95 74%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 74%,#828c95 74%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 74%,#828c95 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#828c95',GradientType=0 ); /* IE6-9 */

  background-repeat: repeat-x; 
}

#fixedWidthContainer {
	margin: 0 auto;
	width: 1024px;
	min-height:100% !important;  /* browser fill */
  height: auto;                /*content fill */
}

#root {
  min-height:100% !important;  /* browser fill */
  height: auto;                /*content fill */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
